In [3]:
import bs4
import urllib.request as url

In [4]:
http = url.urlopen("https://www.imdb.com/list/ls051594496/?sort=moviemeter,asc&st_dt=&mode=detail&page=1")

In [5]:
page = bs4.BeautifulSoup(http)

#### Movie Name and Year

In [83]:
titles = page.find_all('h3',class_='lister-item-header')
movieNames = []
movieYears = []
for title in titles:
    name = title.find('a')
    year = title.find('span',class_='lister-item-year')
#     year = year.text.replace('(','')
#     year = year.replace(')','')
    movieNames.append(name.text)
    movieYears.append(year.text.strip('()'))

In [84]:
len(movieNames), len(movieYears)

(100, 100)

In [85]:
movieNames[0], movieYears[0]

('3 Idiots', '2009')

In [16]:
genre = page.find_all('span',class_='genre')

In [24]:
genres = []
for gen in genre:
    genres.append(gen.text.strip())

In [26]:
# print(genres[0])
genres[0]

'Comedy, Drama'

In [43]:
ratingsDiv = page.find_all('div',class_='ipl-rating-widget')

In [44]:
len(ratingsDiv)

100

In [53]:
ratingList = []
for div in ratingsDiv:
    rating = div.find('span',class_='ipl-rating-star__rating')
    ratingList.append(float(rating.text.strip()))

In [54]:
ratingList[0]

8.4

In [55]:
import pandas as pd

In [111]:
dataset = {
    "Year" : movieYears,
    "Names" : movieNames,
    "Rating" : ratingList,
    "Genre" : genres
}

In [112]:
df = pd.DataFrame(dataset)

In [113]:
df.head()

   Year               Names  Rating                     Genre
0  2009            3 Idiots     8.4             Comedy, Drama
1  2016              Dangal     8.4  Action, Biography, Drama
2  2007    Taare Zameen Par     8.4             Drama, Family
3  2012  Gangs of Wasseypur     8.2     Action, Comedy, Crime
4  2014                  PK     8.2    Comedy, Drama, Fantasy

In [114]:
df['Names'][8]

'Pink'

In [115]:
df[df['Rating'] >= 8.5]

    Year         Names  Rating                    Genre
16  2004  Black Friday     8.5     Action, Crime, Drama
25  1971         Anand     8.8           Drama, Musical
48  1983        Masoom     8.5   Drama, Family, Musical
59  1979      Gol Maal     8.6          Comedy, Romance
71  1965         Guide     8.5  Drama, Musical, Romance
86  1957        Pyaasa     8.5  Drama, Musical, Romance
94  1972       Koshish     8.6                    Drama

In [121]:
df.drop(8, inplace=True)
df.drop(50, inplace=True)
df.drop(51, inplace=True)

In [131]:
# df['Year'][80]
df.drop(80, inplace=True)

In [123]:
df.reset_index(inplace=True)

In [124]:
df['Year'][49]

'1983'

In [132]:
df['Year'] = pd.to_numeric(df['Year'])

In [133]:
df[df['Year'] > 2015]

,index,Year,Names,Rating,Genre
1,1,2016,Dangal,8.4,"Action, Biography, Drama"
7,7,2018,Padman,8.0,"Comedy, Drama"
11,12,2016,Dear Zindagi,7.6,"Drama, Romance"
30,31,2016,Airlift,8.1,"Drama, History"
36,37,2016,Madaari,7.5,"Adventure, Drama, Thriller"
37,38,2016,Neerja,7.7,"Biography, Drama, Thriller"
39,40,2016,Udta Punjab,7.8,"Action, Crime, Drama"
42,43,2016,M.S. Dhoni: The Untold Story,7.7,"Biography, Drama, Sport"

In [135]:
df[(df['Year'] > 2015) & (df['Rating'] >= 8)]

    index  Year    Names  Rating                     Genre
1       1  2016   Dangal     8.4  Action, Biography, Drama
7       7  2018   Padman     8.0             Comedy, Drama
30     31  2016  Airlift     8.1            Drama, History