In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
matches = pd.read_csv("ipl/matches.csv")

In [4]:
matches.shape

(636, 18)

In [5]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [6]:
pd.unique(matches['season'])

array([2017, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016],
      dtype=int64)

In [7]:
pd.value_counts(matches['season'])

2013    76
2012    74
2011    73
2016    60
2014    60
2010    60
2017    59
2015    59
2008    58
2009    57
Name: season, dtype: int64

In [8]:
pd.value_counts(matches['winner'])

Mumbai Indians                 92
Chennai Super Kings            79
Kolkata Knight Riders          77
Royal Challengers Bangalore    73
Kings XI Punjab                70
Rajasthan Royals               63
Delhi Daredevils               62
Sunrisers Hyderabad            42
Deccan Chargers                29
Gujarat Lions                  13
Pune Warriors                  12
Rising Pune Supergiant         10
Kochi Tuskers Kerala            6
Rising Pune Supergiants         5
Name: winner, dtype: int64

In [10]:
pd.value_counts(matches['player_of_match']).head()

CH Gayle          18
YK Pathan         16
AB de Villiers    15
DA Warner         15
SK Raina          14
Name: player_of_match, dtype: int64

In [18]:
matches[((matches['team1'] == 'Chennai Super Kings') | (matches['team2'] == 'Chennai Super Kings')) & (matches['toss_winner'] == 'Chennai Super Kings')].head()[['team1','team2','winner','player_of_match']]

,team1,team2,winner,player_of_match
60,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,MEK Hussey
73,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,MS Dhoni
78,Chennai Super Kings,Delhi Daredevils,Delhi Daredevils,V Sehwag
82,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,Sohail Tanvir
86,Delhi Daredevils,Chennai Super Kings,Chennai Super Kings,MS Dhoni

In [23]:
matches.drop_duplicates('season',keep='last')[['season','winner']].sort_values('season').reset_index()

   index  season                 winner
0    116    2008       Rajasthan Royals
1    173    2009        Deccan Chargers
2    233    2010    Chennai Super Kings
3    306    2011    Chennai Super Kings
4    380    2012  Kolkata Knight Riders
5    456    2013         Mumbai Indians
6    516    2014  Kolkata Knight Riders
7    575    2015         Mumbai Indians
8    635    2016    Sunrisers Hyderabad
9     58    2017         Mumbai Indians

In [24]:
deliveries = pd.read_csv('ipl/deliveries.csv')

In [25]:
deliveries.shape

(150460, 21)

In [26]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [27]:
deliveries.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [28]:
six_data = deliveries[deliveries['batsman_runs'] == 6]

In [29]:
six_data.shape

(6523, 21)

In [31]:
pd.value_counts(six_data['batsman'])[:10]

CH Gayle          266
SK Raina          174
RG Sharma         173
DA Warner         160
V Kohli           160
AB de Villiers    158
MS Dhoni          156
YK Pathan         149
KA Pollard        148
Yuvraj Singh      141
Name: batsman, dtype: int64

In [32]:
temp_df = deliveries.dropna(subset=['player_dismissed'])

In [33]:
temp_df.shape

(7438, 21)

In [34]:
temp_df = temp_df[temp_df['dismissal_kind'] != 'run out']

In [35]:
temp_df.shape

(6683, 21)

In [37]:
pd.value_counts(temp_df['bowler'])[:10]

SL Malinga         154
A Mishra           134
Harbhajan Singh    127
PP Chawla          126
DJ Bravo           122
B Kumar            111
A Nehra            106
Z Khan             103
R Vinay Kumar      103
R Ashwin           100
Name: bowler, dtype: int64

In [41]:
deliveries.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False)[:10]

batsman
SK Raina          4548
V Kohli           4423
RG Sharma         4207
G Gambhir         4132
DA Warner         4014
RV Uthappa        3778
CH Gayle          3651
S Dhawan          3561
MS Dhoni          3560
AB de Villiers    3486
Name: batsman_runs, dtype: int64

In [42]:
deliveries.groupby(['batsman','match_id'])['batsman_runs'].sum().sort_values(ascending=False)[:10]

batsman         match_id
CH Gayle        411         175
BB McCullum     60          158
AB de Villiers  562         133
                620         129
CH Gayle        372         128
M Vijay         206         127
DA Warner       36          126
V Sehwag        516         122
PC Valthaty     243         120
V Sehwag        279         119
Name: batsman_runs, dtype: int64